{{#with user}}
  <li class="list-group-item" data-id="{{id}}">
    <div class="col-xs-12 col-sm-3">
      <img alt="{{avatar_file_name}}" class="img-responsive img-circle" src="{{avatar_url}}"/>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="item-title">
        <span class="name">{{nickname}}</span>
        {{> 'dialogs/partials/_status' is_online=is_online}}
        {{#if unread_messages}}
          <span class="unread">({{unread_messages}})</span>
        {{/if}}
        <br/>
      </div>

      {{#if name}}
        <span class="glyphicon glyphicon-user text-muted u-info" data-toggle="tooltip" data-title="{{name}}"></span>
      {{/if}}

      {{#if phone}}
        <span class="glyphicon glyphicon-earphone text-muted u-info" data-toggle="tooltip" data-title="{{phone}}"></span>
      {{/if}}

      {{#if email}}
        <span class="fa fa-comments text-muted u-info" data-toggle="tooltip" data-title="{{email}}"></span>
      {{/if}}
    </div>
    <div class="clearfix"></div>
  </li>
{{/with}}
